@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #3bab31 1.84%, #d4e91f 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #50ab2f -13.86%, #67f469 99.55%);
  
  --color-bg: #1d1d1d;
  --color-footer : #2f2f2f;
  --color-blog: #3a3a3a;
  --color-text: #f2f3f3;
  --color-subtext: #777777;
}